<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsheng.mapper.MobileSaleMapper">
 
  <select id="getList" resultType="com.mingsheng.model.MobileSale">
    SELECT * from mobileSale order BY  ctime DESC
    <choose>
      <when test="page == null or limit == null">
        limit 0,10
      </when>
      <otherwise>
        <![CDATA[limit ${(page-1)*limit},#{limit}]]>
      </otherwise>
    </choose>
  </select>


  <select id="getInfo" parameterType="String" resultType="com.mingsheng.model.MobileSale">
    SELECT * FROM mobileSale where mobileType=#{mobileType} and mobileName=#{mobileName} and mobileMemory=#{mobileMemory} and mobileColour=#{mobileColour}
  </select>

  <select id="getInfoById" parameterType="String" resultType="com.mingsheng.model.MobileSale">
    SELECT * from mobileSale where id=#{id}
   </select>

  <select id="getListNoPage" resultType="com.mingsheng.model.MobileSale">
    SELECT * from mobileSale order BY  ctime DESC
  </select>

  <insert id="insert" parameterType="com.mingsheng.model.MobileSale">
  INSERT INTO `mobileSale`
(`id`,
`mobileName`,
`img`,
`price`,
`ctime`,
`mobileType`,
`mobileMemory`,
`mobileColour`)
VALUES
(
#{id},
#{mobileName},
#{img},
#{price},
#{ctime},
#{mobileType},
#{mobileMemory},
#{mobileColour});
  </insert>


</mapper>