<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsheng.mapper.MobileRecoveryMapper">
 
  <select id="getList" resultType="com.mingsheng.model.MobileRecovery">
    SELECT * from mobileRecovery order BY  ctime DESC  <choose>
    <when test="page == null or limit == null">
      limit 0,10
    </when>
    <otherwise>
      <![CDATA[limit ${(page-1)*limit},#{limit}]]>
    </otherwise>
  </choose>
  </select>

  <select id="getListNoPage" resultType="com.mingsheng.model.MobileRecovery">
    SELECT * from mobileRecovery order BY  ctime DESC
  </select>


  <select id="getInfo" parameterType="String" resultType="com.mingsheng.model.MobileRecovery">
    SELECT * FROM mobileRecovery where mobileType=#{mobileType} and mobileName=#{mobileName}
  </select>

  <select id="getInfoById" parameterType="String" resultType="com.mingsheng.model.MobileRecovery">
    SELECT * from mobileRecovery where id=#{id}
   </select>

  <delete id="del" parameterType="String">
    DELETE FROM mobileRecovery where id=#{id}
  </delete>

</mapper>