<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsheng.mapper.MobileTypeMapper">

  <select id="getList"  resultType="com.mingsheng.model.MobileType">
    SELECT * from mobiletype where levei=1 and status = #{status} ORDER by ctime ASC;
  </select>


  <select id="getListByPid"  parameterType="String" resultType="com.mingsheng.model.MobileType">
    SELECT * from mobiletype where  pid=#{id};
  </select>
  

  <select id="getInfoById" parameterType="String" resultType="com.mingsheng.model.MobileType">
    SELECT * from mobiletype where id=#{id}
  </select>
</mapper>