<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsheng.mapper.PhoneMapper">
    <select id="getPhone" parameterType="String" resultType="String">
        SELECT phone from phone where id=#{id}
    </select>

    <select id="getPhoneList" resultType="com.mingsheng.model.Phone">
        SELECT * from phone;
    </select>

    <update id="updatePhone" >
        UPDATE phone set phone=#{phone} where id=#{id};
    </update>
</mapper>