<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsheng.mapper.RecoveryOrderMapper">
 
<insert id="addOrder" parameterType="com.mingsheng.model.RecoveryOrder">
INSERT INTO `recoveryorder` (`id`, `orderNo`, `userId`, `address`, `orderStatus`, `remark`, `phone`, `isDel`, `ctime`, `mobileType`, `mobileName`, `name`,price,img)
VALUES
	(#{id}, #{orderNo}, #{userId}, #{address}, #{orderStatus}, #{remark}, #{remark}, 0, #{ctime}, #{mobileType}, #{mobileName}, #{name},#{price},#{img});
</insert>
 
<select id="getListByUserId" parameterType="String" resultType="com.mingsheng.model.RecoveryOrder">
	SELECT * from `recoveryorder` where userId=#{userId} and isDel=0
</select>

	<select id="getOrderById" parameterType="String" resultType="com.mingsheng.model.RecoveryOrder">
		SELECT * FROM  `recoveryorder`where id=#{id} and isDel=0
	</select>

	<select id="getList" parameterType="String" resultType="com.mingsheng.model.RecoveryOrder">
		SELECT * FROM `recoveryorder` where isDel=0
		<if  test="phone != null and phone!='' ">
			AND phone LIKE  concat('%',#{phone},'%')
		</if>
		 ORDER BY ctime DESC;
	</select>
</mapper>