<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsheng.mapper.UserAddressMapper">
 
  <select id="listByUserId" parameterType="String" resultType="com.mingsheng.model.UserAddress">
    select * from useraddress where userId=#{userId};
  </select>


  <update id="updateDef" parameterType="String">
    update useraddress set def=#{def} where id=#{id}
  </update>

  <select id="getById" parameterType="String" resultType="com.mingsheng.model.UserAddress">
    SELECT * from useraddress where id=#{id}
  </select>

  <delete id="delete" parameterType="String">
    DELETE  FROM useraddress where id=#{id}
  </delete>

  <select id="getDefaultAddr" parameterType="String" resultType="com.mingsheng.model.UserAddress">
    SELECT * FROM useraddress where userId=#{userId} and def=1
  </select>


  <update id="update">
    update useraddress set name=#{name},phone=#{phone},address=#{address} where id=#{id}
  </update>

  <insert id="add">
    INSERT  INTO useraddress(id,userId,name,phone,address,isdel,def,area)VALUE (#{id},#{userId},#{name},#{phone},#{address},0,0,#{area})
  </insert>

  <insert id="addDefault">
      INSERT  INTO useraddress(id,userId,name,phone,address,isdel,def,area)VALUE (#{id},#{userId},#{name},#{phone},#{address},0,1,#{area})
  </insert>
</mapper>