<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsheng.mapper.UserMapper">
 
  <select id="getUserByPhone"  parameterType="String" resultType="com.mingsheng.model.User">
    SELECT * from user where phone=#{phone};
  </select>
 
  
  <insert id="savaUser" parameterType="Map">
    INSERT INTO user(`id`,
    `phone`,
    `password`,
    `ctime`,
    `isDel`,
    `sex`,
    `nickname`,
    img)
    VALUES
    (#{id},
    #{phone},
    #{password},
    #{ctime},
     0,
     0,
    #{nickname},
    #{img});
  </insert>


  <select id="getUserById" parameterType="String" resultType="com.mingsheng.model.User">
    SELECT * FROM  user where id=#{userId};
  </select>

  <update id="updateByPhone" parameterType="String">
    update user set password=#{password} where phone=#{phone}
  </update>
</mapper>